body {
	background-color: white;
}

h2 {
	background-color: #D8EAFF;
}

h3 {
	background-color: #D8EAFF;
}

img {
	border: 0pt;
}

a {
	color: blue;
	text-decoration: none;
}

a:hover {
	background-color: #FBFFD3;
}

a.src:hover {
	text-decoration: none;
	background-color: #A3E5FF;
}

.footnote {
	background-color: #E9E9E9 ;
	border:
}